:root {
  /* CSS HEX */
  --smoky-black: #120c0eff;
  --black-coffee: #40363aff;
  --old-lavender: #74696dff;
  --green-blue-crayola: rgba(36, 137, 210, 255);
  --silver-metallic: #a8a2a3ff;
  --gainsboro: #dedce5ff;
}

html {
  background-color: var(--smoky-black);
}

.App {
  text-align: center;
  color: var(--gainsboro);
}

.home {
  color: white;
}

button {
  background-color: var(--black-coffee);
  color: var(--green-blue-crayola);
  padding: 5px;
}

form > input {
  background-color: var(--silver-metallic);
  font-family: "helvetica-neue";
  padding: 5px;
}

h1,
h3 {
  color: var(--green-blue-crayola);
}

.char_search_display {
}

.char_list_display {
}
